body {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(to right, #0d6efd, #6610f2);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}
